altgraph==0.16.1
asn1crypto==1.2.0
astroid==2.2.5
autopep8==1.4.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.8
decorator==4.4.1
docutils==0.15.2
future==0.17.1
geocoder==1.38.1
idna==2.8
isort==4.3.21
Kivy==1.11.1
lazy-object-proxy==1.4.2
macholib==1.11
mccabe==0.6.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.16.5
olefile==0.46
pefile==2019.4.18
Pillow==6.2.0
Pygments==2.4.2
PyInstaller>=3.6
pylint==2.3.1
pyOpenSSL==19.1.0
PySocks==1.7.1
pywin32==223
pywin32-ctypes==0.2.0
ratelim==0.1.6
requests==2.22.0
rope==0.14.0
six==1.12.0
urllib3==1.25.7
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
